.modal--excluirLista,
.modal--moreInfo,
.modal--editList {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


.formExcluirLista,
.list--moreInfo,
.EditarLista {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  text-align: center;
  border: 3px solid rgb(97, 97, 97);
  padding: 10px;
}

.EditarLista{
  padding: 0 !important;
  padding-bottom: 5px !important;
}

.closeModalMoreInfo,
.closeModalEditarLista {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #505050;
  text-align: center;
  border-top-right-radius: 5px;
  border-end-start-radius: 10px;
}

.EditarLista input[type=submit] {
  background-color: rgb(207, 207, 207);
  width: 95%;
  margin: 10px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}

.container--editarLista {
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
  border-bottom: 1px solid rgb(97, 97, 97);
}

.list--moreInfo{
  overflow-y: scroll;
}

.list--moreInfo table{
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.list--moreInfo table th,
.list--moreInfo table td{
  border-bottom: 1px solid rgb(128, 128, 128);
}

.list--moreInfo table th{
  font-size: 18px;
}

.list--moreInfo table td{
  font-size: 15px;
}

.list--moreInfo table td{
  padding-top: 5px;
}

.formExcluirLista h2{
  padding: 5px;
}

.formExcluirLista input{
  width: 45%;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.formExcluirLista input[value="Sim"]:hover{
  background-color: green;
  color: white;
}

.formExcluirLista input[value="Não"]:hover{
  background-color: red;
  color: white;
}

.card--esterilizacao--list {
  width: 100%;
}

.card--esterilizacao--single {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  background-color: rgb(228, 212, 212);
  border-radius: 10px;
  border: 1px solid rgb(177, 160, 160);
  margin: 5px;
  padding: 10px;
}

.card--esterilizacao--single div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.single--actions {
  flex-direction: row !important;
}

.single--actions p {
  margin-right: 5px;
}

.more--info:hover {
  animation: look 0.82s;
  fill: rgb(52, 168, 245);
  cursor: pointer;
}

.edit--info:hover {
  animation: rotate--edit 0.82s;
  fill: rgb(245, 145, 52);
  cursor: pointer;
}

.delete--card:hover {
  animation: shake 0.82s;
  fill: rgb(245, 38, 38);
  cursor: pointer;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}

@keyframes look {


  60% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate--edit {

  40% {
    transform: rotate(80deg);
  }

  60% {
    transform: rotate(-30deg);
  }

  90% {
    transform: rotate(10deg);
  }
}